* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  margin-left: 20px;
}

body > header {
  background-color: #2f3640;
  padding: 10px 0;

}

header li a {
  color: white;
  text-decoration: none;
}

header .conteiner {
  display: flex ;
  align-items: center; 
  justify-content: space-between;
  width: 1100px;

}

header li{
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 16px;
  
}

.container {
  width: 1000px;
  margin: 0 auto;

}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article img {
width: 100%;
}

.articles article {
  width: 30%;
}

section {
  padding: 10px 0;
}
section h2, .articles article {
  margin bottom: 10px;
}

.articles article h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.articles article a {
background-color: blue;
color: aliceblue;
display: inline-block;
padding: 8px;
text-decoration: none;
font-weight: bold;
margin-top: 8px;
}

.articles article a:hover {
text-decoration: underline;

}
.articles article p, .articles article a {
  font-family: Arial, Helvetica, sans-serif;
}
.articles article h3 {
  font-size: 24px;
}
section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 15px;
}

#sports {
  background-color: rgba(0, 255, 0,0.1);
}

#sports .articles article a{
  background-color: rgba(0, 255, 0,0.8);
}

#economy {
  background-color: #f8f59f ;
}

#economy .articles article a {
  background-color: #ff9f1a;
}
#tecnologia {
  background-color: rgb(255, 190, 190);
}

#tecnologia .articles article a {
background-color: orangered;
}

#filmes {
  background-color: rgb(152, 136, 136);
}